[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework-simplejwt = "*"
django = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.14"
